<h1>choose your poison</h1>

<!-- <h2><%= @images[session['id']-2][-5] %></h2>

<h2><%= "You've hit this page #{session['id']} times!" %> </h -->2>

<div id="standoff">

<img class="pair" src= "<%= @images[session['id']-2] %>">
<img class="pair" src= "<%= @images[session['id']-1] %>">


<form id="quiz1" action="/results" method="POST">
	<ul>
	<li><label for="POST-item"></label>
	  <input type="radio" id="Q1" name="Q1" value="<%= @images[session['id']-2][-5] %>">
	  	<%= "#{@images[session['id']-2][6..-6].capitalize}" %>
	  </input>
	</li>
	<li>
	 	<input type="radio" id="Q1" name="Q1" value="<%= @images[session['id']-1][-5] %>">
	 		<%= "#{@images[session['id']-1][6..-6].capitalize}" %>
	 	</input>
	</li>
	</ul>

</br>
	<button type="submit" value="Submit">Submit</button>
</form>

</div>




